# GenAIPro Configuration
GENAI_API_TOKEN=your_genai_token
GENAI_BASE_URL=https://genaipro.vn/api/v1

GCP_BUCKET_NAME=your-gcs-bucket-name

# Supabase Configuration
VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
